.tasklist {
  padding: 8px;
  background-color: #2c041c;
  border-radius: 4px;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: #630436;
  text-align: center;
  border-radius: 4px;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #630436;
  transition: background-color 0.3s;
}

.tasklist .btn:hover {
  background-color: #b407b4;
  cursor: pointer;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed white;
  border-radius: 4px;
  padding: 4px;
}
